doctype html
html(lang='fr')
head
      title Error
      meta(charset='utf-8')
      link(rel='stylesheet', type='text/css', href='/css/error.css')
      link(href="/css/Bootstrap-4.3.1/css/bootstrap.min.css", type='text/css', rel='stylesheet')


body
  div(class='col-10 offset-1 container')
    img#atsu(class='rounded mx-auto d-block x-fluid' src='/img/atsukim.png')
  h1 Oups ! Erreur 404 ...
  p Ceci peut avoir plusieurs raisons, mais cela est probablement une erreur d'adresse url.
