doctype html
html(lang='fr')
 head
   title Atsukim-bot
   meta(charset='utf-8')
   link(rel='stylesheet', href='/css/atsukim.css', type='text/css')
   link(rel='stylesheet', href='/css/animate.css', type='text/css')
   link(href="/css/Bootstrap-4.3.1/css/bootstrap.min.css", type='text/css', rel='stylesheet')
   link(href="https://fonts.googleapis.com/css?family=Muli|Pacifico&display=swap" rel="stylesheet")


 body





   div#main(class='col-10 offset-1')
     img#atsu(class='rounded mx-auto d-block x-fluid' src='/img/atsukim.png')
     h1#atsuTxt(class='bounceInDown animated') #{user}





script(src='../js/atsukim.js')
