DOCTYPEhtml

html
    head
     link(rel='stylesheet', href='/css/todo.css', type='text/css')
     link(rel='stylesheet', href='/css/animate.css', type='text/css')
     link(href="/css/Bootstrap-4.3.1/css/bootstrap.css", type='text/css', rel='stylesheet')
     link(href="https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker|Press+Start+2P&Shadows+Into+Light+Two|display=swap" rel="stylesheet")

     title Atsukim ToDo list


    body
     div#clock 00:00

    div#wrapper(class='col-8 offset-2 slideInDown animated')

      h1#mainh1 Ma todo list :

      form(action='/todo/ajouter' method='post')
        div#wrapForm
          p
              label#ask(for='newtodo' class="formElts") Que dois-je faire ?
              input(type='text' name='newtodo' id='newtodo' autofocus)
              button(type='submit' id="validateBtn")

      div#listWrap
       ul(class="col-4 offset-4 slideInLeft animated")

           each book in todolist
                li
                 a(class="cross" href='todo/supprimer/' title=" Cette tâche est terminé ! ") ✘
                 p.text= book
                 hr

script(src='../js/clock.js')
script(src='../js/todo.js')
